.title {
    -fx-font-size: 70px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: "Times New Roman";
    -fx-alignment: center;
}

.button {
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color:  #D3D3D3;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-label-padding: 4px;
    -fx-background-radius: 15;
    -fx-border-color: #a9a9a9;
    -fx-border-radius: 15;
}

.button:hover {
    -fx-text-fill: #0147d0;
}

.text-field{
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-border-radius: 0;
    -fx-font-family: "Cambria Math";
    -fx-border-color: #D3D3D3;
    -fx-border-width: 3;
}

.label{
    -fx-font-size: 22;
    -fx-text-fill: #252526;
    -fx-font-family: Arial;
    -fx-alignment: center;
}
.root {
    -fx-background-color: linear-gradient(to bottom, #8AAAE5, antiquewhite);
}